.navbar {
    width: 100%;
    background-color: #43d417;
}

.navbar ul {
    margin: 40px 52px;
    padding: 0;
    display: flex;
}
.navbar ul li {
    list-style: none;
    padding: 10px 20px;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(245, 241, 241);
    text-align: center;
    position: relative;
}
.navbar ul li a::before {
    content: "";
    width: 10px;
    border-radius: 10px;
    height: 5px;
    background: #43d417;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.4s;
}
.navbar ul li:hover a::before {
    width: 50%;
    transform: translateX(90%);
}
.navbar ul li a::after {
    content: "";
    width: 10px;
    border-radius: 10px;
    height: 5px;
    background: #def50f;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.4s;
}
.navbar ul li:hover a::after {
    width: 50%;
    transform: translateX(10%);
}
